


// .image-holder{
//     background-color: #efefef;
//     width: 300px;
//     height: 300px;
// }


.image-holder{
    // display: flex;
    // justify-content: center;
    // align-items: center;
    cursor: pointer;
}

.add-icon{
    font-size: 4rem;
}

.ui-holder{
    margin-top: 6rem;
    background-color: white;
    width: 40rem;
    min-height: 25rem;
    border-radius: 15px;
    box-shadow: 4px 9px 27px 5px #00000061;
}

.imgBx{
    max-width: 300px;
    width: 100%;
    height: 300px;
    box-shadow: 1px 1px 5px 0px;
    border-radius: 5px;

    img{
        height: 100% !important;
    }
}

.fileData{
    margin: 5px;
    box-shadow: 1px 1px 10px 1px #00000054;
    border-radius: 5px;
    overflow: hidden;
}