$purple-dark: #9926f0;
$purple-light: #bb6ef5;
$pink: #d122e3;
$footer: #151414;
$banfsagi:#8d448b;
$orange:#e67e22;
$black:#333;
$light-color:#777;
$border:.1rem solid rgba(0,0,0,.2);
$box-shadow:0 .5rem 1rem rgba(0,0,0,.1);

$primary: $purple-dark;
$secondary: $pink;